version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: auction_mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: auction-platform
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

volumes:
  mongodb_data:
